.article {
    &__excerpt {
        font-weight: 700;
        color: var(--color-text-offset);
    }

    &__link {
        display: inline-block;
    }

    // override the flow-property to give the headline some more space
    h2,
    h3 {
        --flow: 2em;
    }
}
