.colormode-togglebutton {
    height: 48px;
    width: 48px;
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    color: var(--color-link);
    transition: all 100ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;

    &:focus {
        outline: none;
        color: var(--color-link-hover);
        background: var(--color-link-background);
    }

    @media (hover: hover) {
        height: 1.5em;
        width: 1.5em;

        &:hover {
            color: var(--color-link-hover);
            background: var(--color-link-background);
        }
    }
}
