.figure {
    margin: 0;
    background: var(--color-bg-offset);
    width: 100%;

    @media screen and (min-width: 600px) {
        width: 50%;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }

    &__caption {
        font-size: 0.9rem;
        padding: 0.5rem;
        font-style: italic;
    }
}
