.footer {
    --color-link: var(--color-footer-link);
    --color-link-hover: var(--color-footer-link-hover);

    background-color: var(--color-footer-background);
    color: var(--color-footer-text);
    line-height: 2;
    font-size: 1rem;

    @media screen and (min-width: 600px) {
        z-index: var(--zindex-footer);
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &__name {
        text-transform: uppercase;
        font-weight: 600;
    }
}
