.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

    @media screen and (min-width: 600px) {
        margin-left: 2rem;
    }

    &__icon {
        width: 0.8em;
        height: 0.8em;
        margin-right: 0.5rem;
    }
}
