.headline {
    text-transform: uppercase;
    color: var(--color-headline);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
    line-height: 1.2;
    font-size: 2rem;

    @media (min-width: 600px) {
        font-size: 3rem;
    }
}
