.headline {
    text-transform: uppercase;
    color: var(--color-text-offset);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin: 0;
}
