.headline {
    text-transform: uppercase;
    color: var(--color-text-offset);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2rem;
    margin: 0;

    @media (min-width: 600px) {
        font-size: 2.5rem;
    }
}
