.icon-button {
    min-height: 48px;
    min-width: 48px;
    border: 0;
    background: transparent;
    font-size: 1.25em;
    color: var(--color-text-offset);
    transition: all 100ms ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;

    @media (hover: hover) {
        min-height: 1.75em;
        min-width: 1.75em;

        &:hover {
            color: var(--color-primary-invert);
            background: var(--color-primary);
            box-shadow: none;
        }
    }

    &:focus {
        outline: 1px dashed var(--color-primary);
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: 0.1em dashed currentColor;
    }

    &:active {
        color: var(--color-primary-invert);
        background: var(--color-primary);
        box-shadow: none;
    }

    &__icon {
        width: 1em;
        height: 1em;
    }

    &--has-text {
        background-color: var(--color-bg-offset);
        border-radius: 1em;
        font-size: 0.9rem;
        padding: 0.75em 1em;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        line-height: 1;

        svg {
            width: 0.9em;
            height: 0.9em;
            stroke-width: 3px;
            margin-right: 0.5em;
        }
    }
}

msme-sharing-button:not(:empty) {
    display: inline-block;
}
