.icon-button {
    min-height: 48px;
    min-width: 48px;
    border: 0;
    background: transparent;
    font-size: 1.5em;
    color: var(--color-text-offset);
    transition: all 100ms ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;

    &:focus {
        outline: none;
        color: var(--color-primary-invert);
        background: var(--color-primary);
    }

    @media (hover: hover) {
        min-height: 1.5em;
        min-width: 1.5em;

        &:hover {
            color: var(--color-primary-invert);
            background: var(--color-primary);
            box-shadow: none;
        }
    }

    &--has-text {
        background-color: var(--color-bg-offset);
        border-radius: 1em;
        font-size: 0.9rem;
        padding: 0.3em 0.75em;
        text-transform: uppercase;
        margin: 1rem 1rem 0 0;
        text-decoration: none;
        font-weight: 400;
        line-height: inherit;

        .icon-button__text {
            margin-left: 0.5em;
        }

        .icon-button__icon {
            height: 1em;
            width: 1em;
        }
    }
}
