.image-cards {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 900px;

    &__item {
        position: sticky;
        top: 0;
        display: grid;
        place-items: center;
        min-height: 100vh;

        & + & {
            margin-top: 40vh;
        }

        &:nth-child(2) {
            & > * {
                transform: rotate(-3deg) translate(-1.2vw, 1%);
            }
        }

        &:nth-child(3) {
            & > * {
                transform: rotate(-1deg) translate(-1vw, -1%);
            }
        }

        &:nth-child(4) {
            & > * {
                transform: rotate(1deg) translate(1.5vw, 1%);
            }
        }

        &:nth-child(5) {
            & > * {
                transform: rotate(4deg) translate(0.75vw, -1%);
            }
        }

        &:nth-child(6) {
            & > * {
                transform: rotate(0deg) translate(0, 1%);
            }
        }

        &:nth-child(7) {
            & > * {
                transform: rotate(2deg) translate(-1.5vw, -2%);
            }
        }
    }

    &__image {
        display: block;
        padding: 0.5em;
        background: var(--color-bg-offset);
        box-shadow: 0 2px 40px -10px rgba(0, 0, 0, 0.1);
        width: 98%;
        height: auto;
        max-width: 1200px;
        max-height: 100%;
    }

    &__overflow {
        max-height: 90vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
