.navigation {
    list-style: none;
    padding: 0;
    display: block;

    @media screen and (min-width: 600px) {
        text-align: right;
    }

    &__element {
        display: inline-block;
        margin-right: 1rem;
    }

    &__link {
        font-weight: 400;
    }
}
