.navigation {
    list-style: none;
    padding: 1.5rem 0;
    display: block;
    text-align: right;

    &__element {
        display: inline-block;
        margin-right: 1rem;
    }

    &__link {
        font-weight: 400;
    }
}
