.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;

    &__next {
        text-align: right;
        flex: 1;
    }
}
