.site-title {
    transition: all 100ms ease-in-out;

    &:link,
    &:visited {
        color: var(--color-text-offset);
        padding: 0;
        text-decoration-color: transparent;
        text-decoration-thickness: 0.1em;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
        text-shadow: 0.05em 0.05em 0 var(--color-bg-offset);
    }

    @media (hover: hover) {
        &:hover {
            text-decoration-color: var(--color-secondary);
        }
    }
}
