.site-title {
    transition: all 100ms ease-in-out;

    &:link,
    &:visited {
        color: var(--color-text-offset);
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3rem;
        text-transform: uppercase;
        text-shadow: 0.05em 0.05em 0 var(--color-bg-offset);
    }

    &:hover,
    &:focus {
        text-decoration-color: transparent;
        color: var(--color-primary-invert);
        text-decoration: none;
        background-color: var(--color-primary);
        box-shadow: 0 0 0 0.2em var(--color-primary);
        text-shadow: none;
    }

    &:active {
        background-color: var(--color-secondary);
        box-shadow: 0 0 0 0.2em var(--color-secondary);
    }
}
