<section class="hero section">
    {% pictureElement
        "src" = "./website/_source/images/martin.jpg",
        "alt" = "Smiling Martin looking into the camera.",
        "widths" = [420, 610, 850],
        "sizes" = "25rem",
        "pictureElementClasses" = "hero__image",
        "imageElementClasses" = "",
        "lazyloading" = false
    %}

    <div>
        <h1 class="hero__headline">Hey! I'm Martin.</h1>
        <p>I'm a frontend web developer working at <a href="https://emperon.studio">Emperon Studio</a>, living with my son in the countryside close to Bonn, Germany.<br>
        I'm a hobby photographer, avid reader, music lover and long-time blogger.</p>
    </div>
</section>
