<section class="hero">
    {% pictureElement
        "src" = "./website/_source/images/martin.jpg",
        "alt" = "Smiling Martin looking into the camera.",
        "widths" = [420, 610, 850],
        "sizes" = "20rem",
        "pictureElementClasses" = "hero__image",
        "imageElementClasses" = "",
        "lazyloading" = false
    %}

    <div>
        <h1 class="hero__headline">Hey! I'm Martin.</h1>
        <p>I'm a frontend web developer working at <a href="https://pooliestudios.com">pooliestudios</a>, living with my family in the countryside close to Bonn, Germany. 
        In my free time I enjoy working in the garden and I'm a hobby photographer, 
        avid reader, music lover and long-time blogger.</p>
    </div>
</section>
