<section class="section flow">
    <h2 id="photography">Photography</h2>
    <div class="flow">
        <p>
            After starting to make a living of my biggest hobby, there was the need
            for a new one. Since have always been interested in documenting my life
            and travels <em>and</em> being generally interested in technical things, 
            choosing photography as a hobby was quite obvious.
        </p>
        <p>
            Bringing the technical (the camera and its settings) and non-technical 
            elements (finding a composition) together brings me a lot of joy. If 
            you're interested in my pictures have a look at my 
            <a href="https://www.dertagundich.de">personal blog</a> where I post 
            some of them from time to time. Sadly, I did not take much time lately 
            to go out and take some pictures.
        </p>
    </div>

    <figure class="section__side">
        {% pictureElement
            "src" = "./website/_source/images/photography.jpg",
            "alt" = "Martin mimiking a wooden figure that takes a picture.",
            "widths" = [400, 600, 800],
            "sizes" = "20rem",
            "pictureElementClasses" = "",
            "imageElementClasses" = "",
            "lazyloading" = true
        %}
    </figure>
</section>