---
layout: page
permalink: articles/{{ title | slugify }}/index.html
---
<div class="flow-large">
    <article data-js-article="data-js-article" class="article flow h-entry">
        <header class="flow-small">
            <h1 class="headline p-name glitch" data-glitch="{{ title | safe }}">
                {{ title | safe }}
            </h1>

            <a class="article__link u-url" href="{{ site.url }}/articles/{{ title | slugify }}/">
            <time datetime="{{ page.date | w3DateFilter }}" class="dt-published">{{ page.date | longDate }}</time>
            </a>
        </header>

        {% include "readingIndicator/readingIndicatorMarkup.njk" %}

        <div class="flow e-content">
            {% if excerpt %}
                <div class="article__excerpt">{{ excerpt }}</div>
            {% endif %}

            {{ content | safe }}
        </div>
    </article>

    {% include '_sharingButton.njk' %}
    {% include '_webmentionsArticle.njk' %}
    {% include '_recentArticles.njk' %}
</div>

{% include "readingIndicator/readingIndicatorJs.njk" %}

{% include "jsonld/blogposting.njk" %}
