---
layout: layout
permalink: articles/{{ title | slugify }}/index.html
---

<div class="wrapper article">
    <article class="h-entry flow">
        <header class="article__header flow">
            <h1 class="p-name">
                {{ title | safe }}
            </h1>

            <a class="u-url article__date-link" href="{{ site.url }}{{ page.url }}">
                <time datetime="{{ date | w3DateFilter }}" class="dt-published article__date">{{ date | longDate }}</time>
            </a>
        </header>

        <div class="e-content flow">
            {% if excerpt %}
                <p class="article__excerpt">{{ excerpt }}</p>
            {% endif %}

            {{ content | safe }}
        </div>
    </article>

    <msme-sharing-button
        data-buttontext="share this page"
        data-buttonclass=""
        data-sharing-url="{{ site.url }}{{ page.url }}"
        data-sharing-title="{{ title | safe }}"
        data-sharing-text="{{ title | safe }}"
    ></msme-sharing-button>

    {% include '_webmentionsArticle.njk' %}
    {% include '_recent-articles.njk' %}
</div>

{% include "jsonld/blogposting.njk" %}

<script src="/msme-sharing-button.js" defer></script>
