---
title:
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{title}}
            {% if title %}&rsaquo;{% endif %}
            Martin Schneider &mdash; Frontend Developer &amp; Diplom Informatiker (FH)
        </title>

        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-regular.woff2" as="font" type="font/woff2" crossorigin="">
        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-700.woff2" as="font" type="font/woff2" crossorigin="">
        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-900.woff2" as="font" type="font/woff2" crossorigin="">

        {{ 'website/_source/scss/main.scss' | compileSCSS | safe }}
        
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">
    </head>
    <body>
        <div class="upper-part">
            {% include "../_includes/header.njk" %}

            <main class="content-wrapper">
                {{ content | safe }}
            </main>
        </div>

        {% include "../_includes/footer.njk" %}
    </body>
</html>