---
title:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            {{ title | safe }}
            {% if title %}&rsaquo;{% endif %}
            {{ site.name }}
        </title>

        <meta name="theme-color" content="hsl(240, 13%, 98%)">
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/main.css">
        
        {% include 'layout/head-meta.njk' %}
    </head>
    <body>
        {#<a href="#main" class="screen-reader-text skiplink">
            Skip to content.
        </a>
        
        {% include "layout/header.njk" %}
#}
        <main class="upper-part" id="main" tabindex="-1">
            {{ content | safe }}
        </main>

        {% include "layout/footer.njk" %}

        <script>
            {% set serviceworkerEmbed %}
                {% include 'website/js/_serviceworker-embed.js' %}
            {% endset %}
            {{ serviceworkerEmbed | mangleJs | safe}}
        </script>

        <script src="/instantpage.js" async></script>

        {% include "jsonld/website.njk" %}
    </body>
</html>
