---
title:
metaDescription: Hey, my name is Martin. I'm a frontend developer from Germany.
metaSlug: /
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{title}}
            {% if title %}&rsaquo;{% endif %}
            Martin Schneider &mdash; Frontend Developer &amp; Diplom Informatiker (FH)
        </title>

        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-regular.woff2" as="font" type="font/woff2" crossorigin="">
        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-500.woff2" as="font" type="font/woff2" crossorigin="">
        <link rel="preload" href="/fonts/ibm-plex-sans-v7-latin-700.woff2" as="font" type="font/woff2" crossorigin="">

        {{ 'website/_source/scss/main.scss' | compileSCSS | safe }}
        
        {% include '../_includes/head-meta.njk' %}
    </head>
    <body>
        <div class="upper-part">
            {% include "../_includes/header.njk" %}

            <main class="content-wrapper">
                {{ content | safe }}
            </main>
        </div>

        {% include "../_includes/footer.njk" %}
    </body>
</html>