@mixin hoverFocusStyles {
    text-decoration-color: var(--color-secondary);
    text-shadow: none;
}

a {
    transition: text-decoration-color 200ms ease-in-out;

    &:link,
    &:visited {
        text-decoration-thickness: 0.1em;
        text-decoration-color: var(--color-primary);
        color: var(--color-text-offset);
        font-weight: 500;
        background-color: transparent;
    }

    @media (hover: hover) {
        &:hover {
            @include hoverFocusStyles;
        }
    }

    &:focus {
        @include hoverFocusStyles;

        outline: none;
        text-decoration-thickness: 0.2em;
    }

    &:active {
        text-decoration-color: transparent;
        color: var(--color-text);
        background: var(--color-secondary);
        box-shadow: 0 0 0 0.2em var(--color-secondary);
        transition: none;
    }
}
