a {
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--color-link-background);
    color: var(--color-text-offset);
    font-weight: 500;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out,
        color 100ms ease-in-out;

    @media (hover: hover) {
        &:hover {
            text-decoration-color: transparent;
            color: var(--color-link-hover);
            background-color: var(--color-link-background);
            text-decoration: none;
            box-shadow: 0 0 0 0.2em var(--color-link-background);
            text-shadow: none;
        }
    }
}
