@mixin hoverFocusStyles {
    text-decoration-color: var(--color-secondary);
    text-shadow: none;
}

a {
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--color-primary);
    color: var(--color-text-offset);
    font-weight: 500;
    background-color: transparent;
    transition: text-decoration-color 100ms ease-in-out;

    @media (hover: hover) {
        &:hover {
            @include hoverFocusStyles;
        }
    }

    &:focus {
        @include hoverFocusStyles;

        outline: none;
    }
}
