code {
    color: var(--color-text-offset);
    background: var(--color-bg-offset);
    border-radius: 0.25rem;
    padding: 0.35em 0.35em 0.25em;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.85em;
}
