code {
    color: var(--color-text-offset);
    background: var(--color-bg-offset);
    border-radius: 0.2rem;
    padding: 0.2em 0.3em;
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9em;
}
