figure {
    margin: 0;

    img {
        display: block;
        width: 100%;
    }
}

figcaption {
    font-size: 0.9rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    font-style: italic;
    color: var(--color-text-offset);
}
