html {
    text-size-adjust: none;
    line-height: 1.8;
    color: var(--color-text);
    font-weight: 400;
    font-size: 18px;
    font-size: clamp(16px, 2vw, 19px);
    font-family: "IBM Plex Sans", sans-serif;
}
