progress {
    margin: 0.1rem 0;
    background-color: var(--color-bg-offset);
    height: 0.15em;
    display: block;
    border: none;
    appearance: none;
}

::-webkit-progress-bar {
    background: var(--color-bg-offset);
}

::-webkit-progress-value {
    background-color: var(--color-primary);
}

::-moz-progress-bar {
    background-color: var(--color-primary);
}

::-ms-fill {
    background-color: var(--color-primary);
}
