---
layout: layout
title: About
metaSlug: /about/
---

{{ 'website/_source/scss/about.scss' | compileSCSS | safe }}

<article class="flow">
    <h1 class="headline">Hello, again!</h1>

    <div class="content-sort-order">
        <figure class="about-image">
            <picture>
                <source
                    srcset="martin800.webp 2x, martin400.webp 1x"
                    type="image/webp"/>
                <source
                    srcset="martin800.jpg 2x, martin400.jpg 1x"
                    type="image/jpg"/>
                <img
                    src="martin400.jpg"
                    alt="Max und Martin"
                    width="400"
                    height="400"
                    class="figure__image box-shadow"
                    loading="lazy"/>
            </picture>
            <figcaption class="figure__caption">
                Max and me, January 2020.
            </figcaption>
        </figure>

        <p>
            Well, as you might already know: My name is Martin. I'm living with my
            girlfriend and our little son in Bonn, Germany. While I lately spend
            most of my time beeing a father I also like to read, go for a walk
            or hike, take pictures, listen to all kinds of music and develop
            websites. Sometimes, I manage to combine some of those things.
        </p>
    </div>

    <h2>Web development & work</h2>
    <p>
        I never thought of making a career as a webdeveloper when I startet to
        learn HTML in the summer of 1998. But never losing the fun building
        sites in my free time while studying made me confident that I should
        give it a try. So I ended up beeing a frontend developer with a degree
        in applied informatics. Since then, I've been working on backend
        applications for healthcare providers as well as europes biggest website
        for recipes, <a href="https://www.chefkoch.de/">chefkoch.de</a>.
    </p>
    <p>
        It actually never got boring. In the past 20 years I've been working on
        a lot of sites of different sizes using all kinds of technology.
        Although I have always explored a lot of topics besides frontend
        development, learning about SEO, Microservices, Docker, CI and CD,
        caching-strategies or server-administration was never as much fun as
        building websites with HTML, CSS and JavaScript.
    </p>
    <p>
        Apart from the actual work as a developer, I've been working as teamlead
        and spend quite some time organizing and simplifying processes within
        the development-team. That includes as well the cooperation between
        project management, design-teams and developers. I'm a big fan of Scrum
        and certified as <em>Professional Scrum Product Owner I</em>.
    </p>

    <h2>Taking pictures</h2>
    <p>
        After starting to make a living of my biggest hobby, there was the need
        for a new one. Since have always been interested in documenting my life
        and travels
        <em>and</em>
        being generally interested in technical things, choosing photography as
        a hobby was quite obvious. Bringing the technical (the camera and its
        settings) and non-technical elements (finding a composition) together
        brings me a lot of joy. If you're interested in my pictures have a look
        at my <a href="https://www.dertagundich.de">personal blog</a>
        where I post some of them from time to time.
    </p>

    <h2>Reading</h2>
    <p>
        I love to read. I love to read about thrilling adventures and crime
        stories. Sadly, I somehow can't concentrate on technical literature that
        is longer than your average internet article. Reading helps me relax.
        Although I have to force myself from time to time to read slowly, I can
        dive deeply into a story and picture scenes and landscapes right in
        front of me.
    </p>
    <p>
        Over the last years I've collected a lot of books on the shelves in my
        living room and I'm just in the process to re-read all of them. I'm
        going to keep the ones I like - the rest will be donated.
    </p>
</article>