---
layout: page
title: Bookmarks
metaSlug: /bookmarks/
pagination:
  data: bookmarks.bookmarks
  size: 10
permalink: bookmarks{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---

<h1 class="headline glitch" data-glitch="Bookmarks">Bookmarks</h1>

<p>I have currently saved
  {{ bookmarks.bookmarks | length }}
  bookmarks. This is page
  {{ pagination.pageNumber+1 }}
  of
  {{ pagination.pages|length }}.</p>

{% if bookmarks | length %}
  <ol class="article-list">
    {% for bookmark in pagination.items %}
      {% include "_bookmark.njk" %}
    {% endfor %}
  </ol>
{% endif %}

{% include '_pagination.njk' %}