---
layout: page
title: Tag
metaSlug: /bookmarks/tag/{{ bookmarks.tag | slug }}/
pagination:
  data: bookmarks.tags
  size: 1
  alias: bookmarks
permalink: bookmarks/tag/{{ bookmarks.tag | slug }}/index.html
---

<h1 class="headline glitch" data-glitch="Tag: {{ bookmarks.tag }}">Tag: {{ bookmarks.tag }}</h1>

<p>I have currently saved {{ bookmarks.bookmarks | length }} bookmarks with this tag.</p>
<p><a href="/bookmarks/">&larr; Back to all bookmarks</a></p>

{% if bookmarks.bookmarks | length %}
  <ol class="article-list">
    {% for bookmark in bookmarks.bookmarks %}
      {% include "_bookmark.njk" %}
    {% endfor %}
  </ol>
{% endif %}

{% include '_pagination.njk' %}