/**
 *  Colormode-Helper
 **/

// Default:
// OS-Preference: light
// User-Preference: none
.show-if-colormode-light {
    display: initial;
}

.show-if-colormode-dark {
    display: none;
}

// OS-Preference: light
// User-Preference: dark
[data-user-color-scheme="dark"] {
    .show-if-colormode-light {
        display: none;
    }

    .show-if-colormode-dark {
        display: initial;
    }
}

@media (prefers-color-scheme: dark) {
    // OS-Preference: dark
    // User-Preference: none
    .show-if-colormode-light {
        display: none;
    }

    .show-if-colormode-dark {
        display: initial;
    }

    // OS-Preference: dark
    // User-Preference: light
    [data-user-color-scheme="light"] {
        .show-if-colormode-light {
            display: initial;
        }

        .show-if-colormode-dark {
            display: none;
        }
    }
}
