.flow > *:not(style) + * {
    margin-top: var(--flow);
}

.flow-small > *:not(style) + * {
    margin-top: var(--flow-small);
}

.flow-large > *:not(style) + * {
    margin-top: var(--flow-large);
}
