<footer class="footer h-card">
    <div class="max-wrapper footer-grid">
        <div class="footer-grid__item">
            <strong class="footer__name p-name">
                <a href="https://martinschneider.me" class="u-url u-uid">Martin Schneider</a>
            </strong>
            <br>
            <span class="p-job-title">Frontend-Developer</span>
            <br>
            <span class="p-job-title">Diplom Informatiker (FH)</span>
            <br>
            <a href="mailto:hallo@martinschneider.me" class="u-email" rel="me">hallo@martinschneider.me</a>
            <br>
            <br>
            <a href="/legal/">Legal Information</a><br>
            {#<a href="/privacy/">Privacy Policy</a>#}
        </div>
        <div class="footer-grid__item">
            <ul class="link-list">
                <li class="link-list__element">
                    <a href="https://www.dertagundich.de/" class="link-list__link" rel="me noopener noreferrer" target="_blank" title="My personal blog">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>Blog</a>
                </li>
                <li class="link-list__element">
                    <a href="https://github.com/schneyra" class="link-list__link" rel="me noopener" target="_blank" title="My account on Github">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0
            0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07
            5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65
            5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42
            3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                        </svg>Github</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.twitter.com/schneyra/" class="link-list__link" rel="me noopener" target="_blank" title="My account on twitter">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66
            10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5
            4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                        </svg>Twitter</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.instagram.com/schneyra/" class="link-list__link" rel="me noopener" target="_blank" title="My account on instagram">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <rect height="20" width="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                        </svg>instagram</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.linkedin.com/in/martin-schneider-b941bb5b/" class="link-list__link" rel="me noopener" target="_blank" title="My account on linkedin">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6
            6 0 0 1 6-6z"></path>
                            <rect height="12" width="4" x="2" y="9"></rect>
                            <circle cx="4" cy="4" r="2"></circle>
                        </svg>LinkedIn</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.xing.com/profile/Martin_Schneider68/cv" class="link-list__link" rel="me noopener" target="_blank" title="My account on XING">
                        <svg class="link-list__icon" aria-hidden="true" focusable="false" height="2500" viewBox="426.896 102.499 170.207 200" width="2128" xmlns="http://www.w3.org/2000/svg">
                            <path d="M442.394 142c-1.736 0-3.197.61-3.934 1.803-.76 1.231-.645
            2.818.166 4.424l19.503 33.761c.033.064.033.105 0 .164l-30.648
            54.084c-.799 1.592-.76 3.191 0 4.425.736 1.187 2.033 1.966 3.771
            1.966h28.844c4.312 0 6.393-2.91 7.867-5.57 0 0 29.973-53.01
            31.14-55.068-.118-.19-19.83-34.58-19.83-34.58-1.439-2.557-3.606-5.41-8.03-5.41h-28.849z" fill="currentColor"></path>
                            <path d="M563.574 102.501c-4.309 0-6.176 2.714-7.723 5.494 0 0-62.14
            110.2-64.188 113.818.105.196 40.984 75.191 40.984 75.191 1.432 2.558
            3.641 5.494 8.06 5.494h28.81c1.738 0 3.096-.654
            3.828-1.843.77-1.23.748-2.857-.059-4.458l-40.664-74.295a.167.167 0 0
            1
            0-.189l63.863-112.92c.803-1.594.82-3.22.061-4.452-.736-1.188-2.098-1.843-3.836-1.843h-29.139v.002h.003z" fill="currentColor"></path>
                        </svg>XING</a>
                </li>
                <li class="link-list__element">
                    <a href="/articles/feed.xml" class="link-list__link">
                        <svg xmlns="http://www.w3.org/2000/svg" class="link-list__icon" aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>RSS-Feed
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-grid__item footer-grid__image">
            <picture class="image">
                <source srcset="/images/avatar600.webp 600w, /images/avatar300.webp 300w" sizes="300px" type="image/webp">
                <source srcset="/images/avatar600.jpg 600w, /images/avatar300.jpg 300w" sizes="300px" type="image/jpg">
                <img alt="Martin Schneider looking sceptical." class="image__image" loading="lazy" src="/images/avatar300.jpg" width="250" height="250">
            </picture>
        </div>
    </div>
</footer>