<footer class="footer h-card">
    <div class="max-wrapper footer-grid">
        <div class="footer-grid__item flow">
            <div>
                <strong class="footer__name p-name">
                    <a href="https://martinschneider.me" class="u-url u-uid">Martin Schneider</a>
                </strong>
                <br>
                <span class="p-job-title">Frontend-Developer</span>
                <br>
                <span class="p-job-title">Diplom Informatiker (FH)</span>
                <br>
                <a href="mailto:hallo@martinschneider.me" class="u-email" rel="me">hallo@martinschneider.me</a>
            </div>
            <div>
                <ul class="link-list">
                    <li class="link-list__element"><a href="/articles/feed.xml">RSS-Feed</a></li>
                    <li class="link-list__element"><a href="/colophon/">Colophon</a></li>
                    <li class="link-list__element"><a href="/accessibility/">Accessibility</a></li>
                    <li class="link-list__element"><a href="/legal/">Legal Information</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-grid__item">
            <ul class="link-list">
                <li class="link-list__element">
                    <a href="https://www.dertagundich.de/" 
                        class="link-list__link" 
                        rel="me noopener noreferrer" 
                        target="_blank" 
                        title="My personal blog">
                        {% include 'svg/blog.svg' %}Blog</a>
                </li>
                <li class="link-list__element">
                    <a href="https://github.com/schneyra" 
                        class="link-list__link" 
                        rel="me noopener" 
                        target="_blank" 
                        title="My account on Github">
                        {% include 'svg/github.svg' %}Github</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.twitter.com/schneyra/" 
                        class="link-list__link" 
                        rel="me noopener" 
                        target="_blank" 
                        title="My account on twitter">
                        {% include 'svg/twitter.svg' %}Twitter</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.instagram.com/schneyra/" 
                        class="link-list__link" 
                        rel="me noopener" 
                        target="_blank" 
                        title="My account on instagram">
                        {% include 'svg/instagram.svg' %}instagram</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.linkedin.com/in/martin-schneider-b941bb5b/" 
                        class="link-list__link" 
                        rel="me noopener" 
                        target="_blank" 
                        title="My account on linkedin">
                        {% include 'svg/linkedin.svg' %}LinkedIn</a>
                </li>
                <li class="link-list__element">
                    <a href="https://www.xing.com/profile/Martin_Schneider68/cv" 
                        class="link-list__link" 
                        rel="me noopener" 
                        target="_blank" 
                        title="My account on XING">
                        {% include 'svg/xing.svg' %}XING</a>
                </li>
            </ul>
        </div>
        <div class="footer-grid__item footer-grid__image">
            {% image "./website/_source/images/avatar.jpg", "Martin looking sceptical.", [250], "250px", "image", "image__image" %}
        </div>
    </div>
</footer>