<div class="site-header-wrapper">
    <header class="wrapper site-header">
        <a href="/" class="site-title">Martin Schneider</a>
        <button class="site-navigation-toggle js-site-navigation-toggle" aria-expanded=false>Menu</button>
        
        <div class="site-navigation-wrapper">
            <nav aria-label="Main">
                <ul class="site-navigation">
                    <li>
                        <a href="/articles/">articles</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>
