<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/favicon.ico" rel="icon" type="image/x-icon">

<link rel="webmention" href="https://webmention.io/martinschneider.me/webmention" /> 
<link rel="pingback" href="https://webmention.io/martinschneider.me/xmlrpc" />

<meta name="google-site-verification" content="q30M0p1A4chHEQhW3ypsQYO7sz1EU7ACd3ng6IXqu-I" />

{% if metaRobots %}
    <meta name="robots" content="{{ metaRobots }}" />
{% endif %}

<link rel="canonical" href="https://martinschneider.me{{metaSlug}}" />

<meta name="description" content="{{metaDescription | safe }}" />

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://martinschneider.me{{metaSlug}}">
<meta property="twitter:title" content="{{title}}{% if title %} &rsaquo; {% endif %}{{ site.name }}">
<meta property="twitter:description" content="{{metaDescription | safe }}">
{#<meta property="twitter:image" content="">#}