<header class="header" data-js-header>
    <div class="max-wrapper header__wrapper">
        <a href="/" class="header__title site-title">Martin Schneider</a>

        <nav aria-label="Main" class="header__navigation">
            <ul class="navigation">
                <li class="navigation__element">
                    <a href="/articles/" class="navigation__link">articles</a>
                </li>
                <li class="navigation__element">
                    <a href="/blogroll/" class="navigation__link">blogroll</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
