<header class="wrapper site-header">
    <a href="/" class="site-title">Martin Schneider</a>
    
    <nav aria-label="Main">
        <ul class="site-navigation">
            <li>
                <a href="/articles/">Articles</a>
            </li>
            <li>
                <a href="/blogroll/">Blogroll</a>
            </li>
        </ul>
    </nav>
</header>
