a {
    color: inherit;
    font-weight: 500;
    text-decoration-color: hsl(25deg 100% 50%);
    text-decoration-thickness: 0.15em;
}

a:visited {
    text-decoration-color: hsl(190, 100%, 50%);
}

a:hover {
    text-decoration-color: hsl(45deg 100% 50%);
}
