a {
    text-decoration-thickness: 0.1em;
    transition: text-underline-offset linear 100ms;
    text-decoration-color: var(--color-primary);
    color: currentColor;
    text-underline-offset: .1em;
    font-weight: 500;

    &:hover {
        text-underline-offset: 0.2em;
        text-decoration-color: var(--color-primary);
    }
}
