.article {
    & > * + * {
        margin-block-start: var(--space-xl);
    }

    &__header {
        max-width: var(--content-width-main);
    }

    &__date-link {
        --space: var(--space-3xs);

        font-weight: inherit;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
    }

    &__date {
        font-size: var(--step--1);
    }

    &__excerpt {
        font-weight: 500;
    }
}
