.article-list {
    list-style: none;
}

.article-list + * {
    margin-block-start: var(--space-xl);
}

.article-list-article {
    padding-inline-start: var(--space-2xs);
    padding-block: var(--space-2xs);
    border-inline-start: 0.15em solid hsl(215deg 20% 83%);
    position: relative;
}

.article-list-article + .article-list-article {
    margin-block-start: var(--space-s);
}

.article-list-article:hover {
    border-inline-start-color: hsl(190, 100%, 50%);
    background: var(--color-background-highlight);
}

.article-list-article a {
    text-decoration: none;
}

.article-list-article a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.article-list-article__headline {
    font-size: var(--step-0);
}

.article-list-article__date {
    font-size: var(--step--1);
}
