.blogroll {
    --space: var(--space-xl);

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xl) var(--space-3xl);

    li {
        display: inline-block;
    }

    &__headline {
        font-size: var(--step-1);
    }

    &__linkwrapper {
        margin-block-start: var(--space-2xs);
        display: flex;
        align-items: center;
    }

    &__image {
        background-image: none;
        margin-inline-end: var(--space-3xs);
        width: 1em;
        height: 1em;

        & img {
            top: 0;
            left: 0;
        }
    }
}
