.container {
    width: min(
        100% - var(--space-l) - var(--space-l),
        var(--container-max, 65ch)
    );
    margin-inline: auto;
}

.container--wide {
    --container-max: var(--container-wide);
}
