summary {
    font-size: var(--step-2);
    cursor: pointer;

    & > * {
        display: inline;
        font-size: var(--step-2);
    }

    & + * {
        margin-block-start: var(--space-s);
    }
}
