.gallery {
    --space: var(--space-3xl);

    margin-inline: auto;
    display: grid;
    gap: var(--space-xl);
    padding-inline: var(--padding-default);
    grid-template-rows: auto;

    @media (min-width: 60rem) {
        grid-template-columns: repeat(2, 1fr);
    }

    & img {
        width: 100%;
    }

    & *:nth-child(1) img,
    & *:nth-child(4) img {
        transform: rotate(0.5deg);
    }

    & *:nth-child(2) img,
    & *:nth-child(3) img {
        transform: rotate(-0.5deg);
    }
}
