/*.gallery-image {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    & figcaption {
        z-index: 1;
        background: linear-gradient(
            180deg,
            transparent,
            var(--color-average) var(--space-2xl),
            var(--color-average)
        );
        padding: var(--space-2xl) var(--space-xs) var(--space-xs)
            var(--space-xs);
        align-self: end;
        transform: rotate(0.5deg);
        position: relative;
        top: -0.5rem;
        left: -0.5rem;
    }
}

.gallery-image--dark figcaption {
    color: white;
}
*/
