h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-headlines);
    font-weight: var(--font-weight-headlines);
    color: var(--color-secondary);
    line-height: 1.2;
    transform: rotate(-0.25deg);
}

h1 {
    font-size: var(--step-5);
}

h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
}
