.hero {
    padding-block-start: var(--space);
    max-width: 100%;
    width: var(--content-width-wrapper);
    margin-inline: auto;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
    padding-inline: var(--padding-default);
    flex-wrap: wrap-reverse;

    & > * {
        margin-inline: auto;
    }

    &__headline {
        font-size: var(--font-size-hero-headline, --step-7);
        position: relative;
        display: inline;
        background-image: repeating-linear-gradient(
            179deg,
            transparent,
            transparent 0.8em,
            var(--color-primary) 0.8em,
            var(--color-primary) 1.3em
        );
        padding-bottom: 0.2em;
        box-decoration-break: clone;

        & + * {
            margin-block-start: var(--space-l);
        }
    }

    &__image {
        min-width: 20rem;
        background-image: var(--gradient-primary);

        & img {
            top: -0.75rem;
            left: -0.75rem;
        }
    }
}
