.hero {
    max-width: 100%;
    width: var(--content-width-wrapper);
    margin-inline: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
    padding-inline: var(--padding-default);
    flex-wrap: wrap;

    & > * {
        margin-inline: auto;
    }

    &__headline {
        font-size: var(--step-7);
        position: relative;
        display: inline-block;
        
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            transform: rotate(-1deg);
            inset: -0.1em;
            background-image: repeating-linear-gradient(to bottom, transparent, transparent 0.8em, var(--color-primary) 0.8em, var(--color-primary) 1.3em);
            display: inline-block;
        }

        & + * {
            margin-block-start: var(--space-l);
        }
    }

    &__image {
        min-width: 20rem;
        background-color: var(--color-primary);

        & img {
            top: -0.5rem;
            left: -0.5rem;
        }
    }
}
