msme-sharing-button {
    &:not(:empty) {
        display: inline-block;
    }

    & button {
        background-color: transparent;
        color: inherit;
        border: 1px solid var(--color-secondary);
        font-size: inherit;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding: var(--space-2xs);
        transition: background-color 100ms linear, color 100ms linear;
        cursor: pointer;

        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-secondary-invert);
        }
    }

    & svg {
        margin-inline-end: var(--space-2xs);
    }
}
