.post-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: visible;
    gap: var(--space-s);
    padding: var(--space-2xs);

    & li {
        display: inline-block;
        aspect-ratio: 3 / 4;
        background-image: var(--gradient-body-background-invert);
        width: 11rem;
        flex-shrink: 0;
        align-items: stretch;
        transition: background-image 200ms linear;

        &:hover {
            background-image: var(--gradient-primary);
        }
    }
}
