.poster {
    background: var(--color-secondary);
    display: flex;
    align-items: flex-end;
    position: relative;
    border: 0.1rem solid var(--color-secondary);
    height: 100%;
    top: -0.5rem;
    left: -0.5rem;
    transition: transform 100ms ease-in;

    & a {
        text-decoration: none;
    }

    & a::before {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
    }

    &__headline {
        transform: none;
        z-index: 2;
        font-size: var(--step-0);
        line-height: 1.4;
        padding: var(--space-xl) var(--space-xs) var(--space-xs) var(--space-xs);
        width: 100%;
        color: white;
        letter-spacing: 0.05em;
    }

    &__picture {
        position: absolute;
        inset: 0;
        z-index: 1;
        opacity: 0.25;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.85;
            transform: rotate(0);
            inset: 0;
        }
    }

    &--eleventy {
        background-image: url("../images/eleventy.svg"),
            var(--gradient-eleventy);
        background-size: 25%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - var(--space-xs)) var(--space-xs), 0 0;
    }

    &--css {
        background-image: url("../images/css.svg"), var(--gradient-css);
        background-size: 25%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - var(--space-xs)) var(--space-xs), 0 0;
    }

    &--js {
        background-image: url("../images/js.svg"), var(--gradient-js);
        background-size: 25%, 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - var(--space-xs)) var(--space-xs), 0 0;
    }
}

.post-list li {
    &:nth-of-type(even) article {
        transform: rotate(-0.5deg);

        @media (hover: hover) {
            &:hover {
                transform: rotate(0.5deg);
            }
        }
    }

    &:nth-of-type(odd) article {
        transform: rotate(0.5deg);

        @media (hover: hover) {
            &:hover {
                transform: rotate(-0.5deg);
            }
        }
    }
}
