.poster {
    background-color: white;
    display: flex;
    align-items: end;
    padding: var(--space-xs);
    position: relative;
    border: 0.1rem solid var(--color-secondary);
    height: 100%;
    top: -0.2rem;
    left: -0.2rem;
    transition: transform 100ms linear;

    & a:before {
        display: block;
        content: "";
        position: absolute;
        inset: 0;
    }

    &__headline {
        transform: none;
        z-index: 2;
        font-size: var(--step--1);
        line-height: 1.5;
    }

    &__picture {
        position: absolute;
        inset: 0;
        z-index: 1;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.1;
            transform: rotate(0);
            inset: 0;
        }
    }
}

.post-list li {
    &:nth-of-type(even) article {
        transform: rotate(-0.5deg);

        &:hover {
            transform: rotate(0.5deg);
        }
    }

    &:nth-of-type(odd) article {
        transform: rotate(0.5deg);

        &:hover {
            transform: rotate(-0.5deg);
        }
    }
}
