.post-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: visible;
    gap: var(--space-m-l);
    padding: var(--space-2xs);

    & li {
        display: inline-block;
        aspect-ratio: 4 / 3;
        background-image: var(--gradient-primary);
        width: 26rem;
        max-width: 65vw;
        flex-shrink: 0;
        align-items: stretch;
        transition: background-image 1200ms linear;

        @media (hover: hover) {
            &:hover {
                background-image: var(--gradient-tertiary);
            }
        }

        &:focus-within {
            outline-offset: 0.15rem;
            background-image: var(--gradient-tertiary);
            outline: 0.2rem dashed var(--color-tertiary);

            & a:focus-visible {
                outline: none;
            }
        }
    }
}
