.post-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: visible;
    gap: var(--space-s);
    padding: var(--space-2xs);

    & li {
        display: inline-block;
        aspect-ratio: 3 / 4;
        background: #fff;
        width: 11rem;
        flex-shrink: 0;
        align-items: stretch;
    }
}
