*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

picture {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul[class],
ol[class] {
    list-style: none;
}
