.section {
    --space: var(--space-3xl);

    width: var(--content-width-wrapper);
    max-width: 100%;
    margin-inline: auto;
    padding-inline: var(--space-s);

    @media (min-width: 1300px) {
        display: grid;
        column-gap: var(--content-width-gap);
        grid-template-columns:
            [main] var(--content-width-main) [side]
            var(--content-width-side);
    }

    & > * {
        --space: var(--space-default);
    }

    & > *:not(&__side) {
        grid-column-start: main;
    }

    &__side {
        grid-column-start: side;
        transform: rotate(0.25deg);
    }

    &__fullwidth {
        grid-column-end: span 2;
    }

    & :is(h1, h2, h3, h4, h5, h6) + * {
        margin-block-start: 0.5em;
    }
}
