.section {
    --space: var(--space-3xl-4xl);

    width: var(--content-width-wrapper);
    max-width: 100%;
    margin-inline: auto;
    padding-inline: var(--padding-default);

    @media (min-width: 60rem) {
        display: grid;
        column-gap: var(--content-width-gap);
        grid-template-columns: [main] 2fr [side] 1fr;
    }

    & > * {
        --space: var(--space-default);
    }

    & > *:not(&__side) {
        grid-column-start: main;
    }

    &__side {
        grid-column-start: side;
        width: 100%;
        margin-inline: auto;
        display: block;

        --space: var(--content-width-gap);
        @media (min-width: 60rem) {
            --space: 0;
        }
    }

    &__fullwidth {
        @media (min-width: 60rem) {
            grid-column-end: span 2;
        }
    }

    & :is(h1, h2, h3, h4, h5, h6) + * {
        margin-block-start: 0.5em;
    }

    & h2::before {
        display: block;
        content: "";
        height: 3em;
        position: absolute;
        left: calc((var(--padding-default) / 1.25) * -1);
        background: var(--gradient-primary);
        width: 0.25em;
        transform: rotate(-0.5deg);
        box-shadow: 0.1em 0.1em 0 white;
    }
}
