.site-header-wrapper {
    z-index: 200;
    position: absolute;
    top: 0;
    width: 100%;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--padding-default);
    gap: var(--space-s);
    flex-wrap: wrap;
}

.site-header::before {
    content: "";
    display: none;
    position: absolute;
    inset: var(--space-xs) var(--space-3xs) var(--space-2xs);
    background: white;
    box-shadow: var(--shadow);
    z-index: -1;
}

.has-open-navigation .site-header::before {
    display: block;
}
