.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--space-m);
    gap: var(--space-s);
    flex-wrap: wrap;

    & + * {
        margin-block-start: var(--space-l-xl);
    }
}
