:root {
    /*
  Breiten und Abstände
  @link https://utopia.fyi/space/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7|12,s-xl&g=s,xl,xl,12
  */
    --space-3xs: clamp(0.25rem, calc(0.22rem + 0.15vw), 0.38rem);
    --space-2xs: clamp(0.5rem, calc(0.45rem + 0.23vw), 0.69rem);
    --space-xs: clamp(0.75rem, calc(0.67rem + 0.38vw), 1.06rem);
    --space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.38rem);
    --space-m: clamp(1.5rem, calc(1.36rem + 0.68vw), 2.06rem);
    --space-l: clamp(2rem, calc(1.81rem + 0.91vw), 2.75rem);
    --space-xl: clamp(3rem, calc(2.72rem + 1.36vw), 4.13rem);
    --space-2xl: clamp(4rem, calc(3.63rem + 1.82vw), 5.5rem);
    --space-3xl: clamp(6rem, calc(5.44rem + 2.73vw), 8.25rem);
    --space-4xl: clamp(7rem, calc(6.34rem + 3.18vw), 9.63rem);
    --space-5xl: clamp(12rem, calc(10.88rem + 5.45vw), 16.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.53vw), 0.69rem);
    --space-2xs-xs: clamp(0.5rem, calc(0.36rem + 0.68vw), 1.06rem);
    --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.76vw), 1.38rem);
    --space-s-m: clamp(1rem, calc(0.73rem + 1.29vw), 2.06rem);
    --space-m-l: clamp(1.5rem, calc(1.19rem + 1.52vw), 2.75rem);
    --space-l-xl: clamp(2rem, calc(1.47rem + 2.58vw), 4.13rem);
    --space-xl-2xl: clamp(3rem, calc(2.38rem + 3.03vw), 5.5rem);
    --space-2xl-3xl: clamp(4rem, calc(2.94rem + 5.15vw), 8.25rem);
    --space-3xl-4xl: clamp(6rem, calc(5.09rem + 4.39vw), 9.63rem);
    --space-4xl-5xl: clamp(7rem, calc(4.63rem + 11.52vw), 16.5rem);

    /* Custom pairs */
    --space-s-xl: clamp(1rem, calc(0.22rem + 3.79vw), 4.13rem);

    /* @link https://utopia.fyi/type/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12 */
    --step--2: clamp(0.69rem, calc(0.65rem + 0.23vw), 0.88rem);
    --step--1: clamp(0.83rem, calc(0.77rem + 0.32vw), 1.1rem);
    --step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.38rem);
    --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.72rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.86vw), 2.15rem);
    --step-3: clamp(1.73rem, calc(1.49rem + 1.16vw), 2.69rem);
    --step-4: clamp(2.07rem, calc(1.75rem + 1.56vw), 3.36rem);
    --step-5: clamp(2.49rem, calc(2.06rem + 2.07vw), 4.2rem);

    /* Extra Schriftgröße für Eingabefelder: Mindestens 16px, aber nicht so groß wie --step-0 am Ende */
    --step-input: clamp(1rem, calc(0.91rem + 0.45vw), 1.1rem);

    --font-family-headlines: Seravek, "Gill Sans Nova", Ubuntu, Calibri,
        "DejaVu Sans", source-sans-pro, sans-serif;
    --font-family-headlines: Optima, Candara, "Noto Sans", source-sans-pro,
        sans-serif;
    --font-family-body: Optima, Candara, "Noto Sans", source-sans-pro,
        sans-serif;
    --font-family-body: Seravek, "Gill Sans Nova", Ubuntu, Calibri,
        "DejaVu Sans", source-sans-pro, sans-serif;

    --color-headlines: hsl(215deg 17% 15%);
    --color-body: hsl(215deg 25% 25%);
    --color-invert: hsl(215deg 17% 100%);

    --z-index-footer: 0;
    --z-index-content: 1;
    --z-index-header: 3;

    --header-height: calc(var(--space-3xl-4xl) + var(--space-l));
    --container: 850px;
    --container-wide: calc(450px + 850px + var(--space-xl));

    /* https://www.joshwcomeau.com/gradient-generator?colors=cbd2dc|eff1f5&angle=130&colorMode=hcl&precision=8&easingCurve=0.6056034482758621|0.75|0.2521551724137931|0.3448275862068966 */
    --gradient-background: linear-gradient(
        130deg,
        hsl(215deg 20% 83%) 0%,
        hsl(216deg 20% 84%) 20%,
        hsl(216deg 20% 86%) 31%,
        hsl(217deg 20% 87%) 38%,
        hsl(217deg 20% 88%) 44%,
        hsl(218deg 20% 90%) 49%,
        hsl(218deg 21% 91%) 56%,
        hsl(219deg 21% 92%) 66%,
        hsl(219deg 22% 94%) 80%,
        hsl(220deg 23% 95%) 100%
    );
}
