/* @link https://utopia.fyi/type/calculator/?c=320,18,1.2,1600,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step--2: clamp(0.78rem, calc(0.78rem + 0.02vw), 0.8rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.08vw), 1rem);
    --step-0: clamp(1.13rem, calc(1.09rem + 0.16vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.3rem + 0.27vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.54rem + 0.42vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.82rem + 0.62vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.15rem + 0.9vw), 3.05rem);
    --step-5: clamp(2.8rem, calc(2.55rem + 1.27vw), 3.82rem);
    --step-6: clamp(3.36rem, calc(3.01rem + 1.76vw), 4.77rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1600,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,&g=s,l,xl,12 */
:root {
    --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.55rem + 0.08vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.86rem + 0.08vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.09rem + 0.16vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.64rem + 0.23vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.19rem + 0.31vw), 2.5rem);
    --space-xl: clamp(3.38rem, calc(3.28rem + 0.47vw), 3.75rem);
    --space-2xl: clamp(4.5rem, calc(4.38rem + 0.63vw), 5rem);
    --space-3xl: clamp(6.75rem, calc(6.56rem + 0.94vw), 7.5rem);
    --space-4xl: clamp(9rem, calc(8.75rem + 1.25vw), 10rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.23rem + 0.39vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.47rem + 0.47vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.78rem + 0.47vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.94rem + 0.94vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.48rem + 1.02vw), 2.5rem);
    --space-l-xl: clamp(2.25rem, calc(1.88rem + 1.88vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.97rem + 2.03vw), 5rem);
    --space-2xl-3xl: clamp(4.5rem, calc(3.75rem + 3.75vw), 7.5rem);
    --space-3xl-4xl: clamp(6.75rem, calc(5.94rem + 4.06vw), 10rem);
}

:root {
    --content-width-wide: 1200px;
}
