/* stylelint-disable no-duplicate-selectors */

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1600,22,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 11.1111px → 14.08px */
  --step--2: clamp(0.6944rem, 0.6481rem + 0.2319vi, 0.88rem);
  /* Step -1: 13.3333px → 17.6px */
  --step--1: clamp(0.8333rem, 0.7667rem + 0.3333vi, 1.1rem);
  /* Step 0: 16px → 22px */
  --step-0: clamp(1rem, 0.9063rem + 0.4688vi, 1.375rem);
  /* Step 1: 19.2px → 27.5px */
  --step-1: clamp(1.2rem, 1.0703rem + 0.6484vi, 1.7188rem);
  /* Step 2: 23.04px → 34.375px */
  --step-2: clamp(1.44rem, 1.2629rem + 0.8855vi, 2.1484rem);
  /* Step 3: 27.648px → 42.9688px */
  --step-3: clamp(1.728rem, 1.4886rem + 1.1969vi, 2.6855rem);
  /* Step 4: 33.1776px → 53.7109px */
  --step-4: clamp(2.0736rem, 1.7528rem + 1.6042vi, 3.3569rem);
  /* Step 5: 39.8131px → 67.1387px */
  --step-5: clamp(2.4883rem, 2.0614rem + 2.1348vi, 4.1962rem);
  /* Step 6: 47.7757px → 83.9233px */
  --step-6: clamp(2.986rem, 2.4212rem + 2.824vi, 5.2452rem);
  /* Step 7: 57.3309px → 104.9042px */
  --step-7: clamp(3.5832rem, 2.8398rem + 3.7167vi, 6.5565rem);
}

/* Extra-size for hero on homepage, based on steps */
:root {
  --font-size-hero-headline: clamp(1.2rem, 1.2629rem + 3.7167vi, 6.5565rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1600,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|l-3xl&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.25rem, 0.2188rem + 0.1563vw, 0.375rem);
    --space-2xs: clamp(0.5rem, 0.4375rem + 0.3125vw, 0.75rem);
    --space-xs: clamp(0.75rem, 0.6563rem + 0.4688vw, 1.125rem);
    --space-s: clamp(1rem, 0.875rem + 0.625vw, 1.5rem);
    --space-m: clamp(1.5rem, 1.3125rem + 0.9375vw, 2.25rem);
    --space-l: clamp(2rem, 1.75rem + 1.25vw, 3rem);
    --space-xl: clamp(3rem, 2.625rem + 1.875vw, 4.5rem);
    --space-2xl: clamp(4rem, 3.5rem + 2.5vw, 6rem);
    --space-3xl: clamp(6rem, 5.25rem + 3.75vw, 9rem);
    --space-4xl: clamp(8rem, 7rem + 5vw, 12rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, 0.125rem + 0.625vw, 0.75rem);
    --space-2xs-xs: clamp(0.5rem, 0.3438rem + 0.7813vw, 1.125rem);
    --space-xs-s: clamp(0.75rem, 0.5625rem + 0.9375vw, 1.5rem);
    --space-s-m: clamp(1rem, 0.6875rem + 1.5625vw, 2.25rem);
    --space-m-l: clamp(1.5rem, 1.125rem + 1.875vw, 3rem);
    --space-l-xl: clamp(2rem, 1.375rem + 3.125vw, 4.5rem);
    --space-xl-2xl: clamp(3rem, 2.25rem + 3.75vw, 6rem);
    --space-2xl-3xl: clamp(4rem, 2.75rem + 6.25vw, 9rem);
    --space-3xl-4xl: clamp(6rem, 4.5rem + 7.5vw, 12rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, 0.5rem + 2.5vw, 3rem);
    --space-l-3xl: clamp(2rem, 0.25rem + 8.75vw, 9rem);
}

:root {
    --content-width-main: 55rem;
    --content-width-side: 27rem;
    --content-width-gap: var(--space-xl);
    --content-width-wrapper: calc(
        var(--content-width-main) + var(--content-width-side) +
            var(--content-width-gap) + var(--padding-default) * 2
    );
    --content-width-hero: 100rem;

    /* Spacing */
    --padding-default: var(--space-l);
    --space-default: 1.25em;

    /* Fonts */
    --font-family-headlines: "Lexend Deca", sans-serif;
    --font-weight-headlines: 600;
    --font-family-text: system-ui, sans-serif;
    --font-family-code: ui-monospace, "Cascadia Code", "Source Code Pro",
        "Menlo", "Consolas", "DejaVu Sans Mono", monospace;

    /* Colors based on: https://coolors.co/713e5a-f2f2f2-5e8217-c4e576-4d5057 */
    --color-text: hsl(210deg 50% 15%);
    --color-primary: hsl(80deg 70% 65%);
    --color-primary-dark: hsl(80deg 70% 40%);
    --color-secondary: hsl(210deg 80% 20%);
    --color-secondary-invert: hsl(0deg 0% 100%);
    --color-tertiary: hsl(27deg 65% 66%);
    --color-tertiary-dark: hsl(35deg 50% 25%);
    --color-teaser-background-hover: hsl(0deg 0% 100%);

    /* Gradients */
    --gradient-body-background: linear-gradient(
        110deg,
        hsl(0deg 0% 97.5%),
        hsl(0deg 0% 87.5%)
    );
    --gradient-body-background-invert: linear-gradient(
        190deg,
        hsl(222deg 6% 30%),
        hsl(222deg 6% 60%)
    );
    --gradient-primary: linear-gradient(
        190deg,
        var(--color-primary-dark),
        var(--color-primary)
    );
    --gradient-tertiary: linear-gradient(
        190deg,
        var(--color-tertiary-dark),
        var(--color-tertiary)
    );
    --gradient-eleventy: linear-gradient(
        190deg,
        hsl(220deg 0% 35%),
        hsl(0deg 0% 20%)
    );
    --gradient-js: linear-gradient(
        190deg,
        hsl(53deg 93% 35%),
        hsl(0deg 0% 20%)
    );
    --gradient-css: linear-gradient(
        190deg,
        hsl(210deg 50% 15%),
        hsl(0deg 0% 20%)
    );
    --shadow: 0 0 2rem #ddd;
}
