<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ article.title }}",
        "description": "{{ article.metaDescription }}",
        "datePublished": "{{ article.formattedDate }}",
        "mainEntityOfPage": "true",
        "image": {
            "@type": "imageObject",
                "url": "{{ site.url }}{{ article.ogImage }}",
                "height": "1200",
                "width": "2400"
        },
        "author": {
            "@type": "Person",
            "name": "{{ martin.name }}"
        }
    }
</script>
