---
layout: page
title: Blogroll
metaDescription: An alphabetical list of blogs, websites and newsletters that I'm reading on a regular basis.
---

<div class="flow-large">
    <div class="flow">
        <h1>Blogroll</h1>

        <p>
            This is an more or less unsorted list of blogs, websites and newsletters that I'm reading on a regular basis. 
            You can download the <a href="/blogroll/subscriptions.opml">OPML file with all my subscriptions</a>.
            Any suggestions?
        </p>
    </div>

    {% for group in subscriptions %}
        <div class="flow">
            {# Remove the trailing number from the group name - it is just for sorting #}
            <h2>{{ group.$.text.slice(1)|trim }}</h2>
        
            {% for subscription in group.outline %}
                {% if loop.first %}<ul class="blogroll">{% endif %}

                <li class="blogroll__item">
                    {% set imageUrl = "https://avatar.martinschneider.me/" ~ subscription.$.htmlUrl | urlencode ~ "/" %}

                    {% pictureElement
                        "src" = imageUrl,
                        "alt" = "Avatar for " ~ subscription.$.text ~ ".",
                        "widths" = [16, 32],
                        "sizes" = "16px",
                        "pictureElementClasses" = "blogroll-item__image"
                    %}
                    
                    <a href="{{ subscription.$.htmlUrl }}">{{ subscription.$.text }}</a>
                </li>

                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>