<li class="article-list__article" id="{{ bookmark.id }}">
    <article class="flow-small">
        <h2 class="article-list__title">
        <a href="{{ bookmark.href }}" class="article-list__link">
            {{ bookmark.title }}
        </a>
        </h2>

        <time datetime="{{ bookmark.date }}" class="article-list__date">saved on
        {{ bookmark.formattedDate }}
        </time>

        {% if bookmark.excerpt %}
        <p class="article-list__excerpt">{{ bookmark.excerpt }}</p>
        {% endif %}

        {% if bookmark.tags | length %}
        <ul class="tag-list">
            {% for tag in bookmark.tags %}
            <li class="tag-list__item">
                <a href="/bookmarks/tag/{{ tag | slug}}/" class="tag-list__link tag">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
</li>