{% if pagination.hrefs | length > 1 %}
    <ul>
        {% if pagination.previousPageHref %}
            <li>
                <a href="{{ pagination.previousPageHref }}">&laquo; Previous page</a>
            </li>
        {% endif %}
        {% if pagination.nextPageHref %}
            <li>
                <a href="{{ pagination.nextPageHref }}">Next page &raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}