{% set recentArticles = articles | recentArticles(page) %}

<div class="flow-small">
    <h3 class="glitch" data-glitch="Other articles I've written recently">
        Other articles I've written recently
    </h3>
    
    <ol class="article-list article-list--small">
        {%- for recentArticle in recentArticles %}
            <li class="article-list__article">
                <article class="flow-small">
                    <h4 class="article-list__title">
                        <a href="/articles/{{ recentArticle.slug }}/" class="article-list__link">
                            {{ recentArticle.title | safe }}
                        </a>
                    </h4>
                    <time class="article-list__date" datetime="{{ recentArticle.date }}">{{ recentArticle.formattedDate }}</time>
                </article>
            </li>
        {%- endfor %}
    </ol>
<div>