{% set recentArticles = collections.articles | recentArticles(page) %}

<details class="flow-small">
    <summary>
        <h2>Other articles I've written recently</h2>
    </summary>

    <ol class="article-list article-list--small">
        {%- for recentArticle in recentArticles | reverse %}
            <li class="article-list__article">
                <article class="flow-small">
                    <h3 class="article-list__title">
                        <a href="{{ recentArticle.url }}" class="article-list__link">
                            {{ recentArticle.data.title | safe }}
                        </a>
                    </h3>
                    <time class="article-list__date" datetime="{{ recentArticle.data.date }}">{{ recentArticle.data.date | longDate }}</time>
                </article>
            </li>
        {%- endfor %}
    </ol>
</details>