<details class="flow-small">
    <summary data-webmentionbutton="{{ article.slug }}" data-js-webmention-label="data-js-webmention-label">
        <h2>{{ article.slug | webmentionButton | safe }}</h2>
    </summary>
    <div data-webmentionwrapper="data-webmentionwrapper">
        <p>Loading Webmentions...</p>
    </data>
</details>

<script>
    {% include "compiledassets/webmentions.js" %}
</script>