<details class="flow-small">
    <summary data-webmentionbutton="{{ article.slug }}">{{ article.slug | webmentionButton | safe }}</summary>
    <div data-webmentionwrapper>
        <p>Loading Webmentions...</p>
    </data>
</details>

<script>
    {% include "compiledassets/webmentions.js" %}
</script>
