<header>
    <a href="/">Martin Schneider</a>

    <nav aria-label="Main navigation">
        <ul>
            <li>
                <a href="/about/">about</a>
            </li>
            <li>
                <a href="/articles/">articles</a>
            </li>
        </ul>
    </nav>
</header>