<header class="header">
    <div class="content-wrapper header__wrapper">
        <a href="/" class="header__title headline">Martin Schneider</a>

        <nav aria-label="Main navigation" class="header__navigation">
            <ul class="navigation">
                <li class="navigation__element">
                    <a href="/about/">about</a>
                </li>
                <li class="navigation__element">
                    <a href="/articles/">articles</a>
                </li>
            </ul>
        </nav>
    </div>
</header>