{{ article.slug | webmentionButton | safe }}

<div data-webmentionwrapper></div>

{% set webmentionsJs %}
    {% include "../_source/js/webmentions.js" %}
{% endset %}

<script>
    {{ webmentionsJs | jsmin | safe }}
</script>
