<div data-webmentionwrapper>
    {{ article.slug | webmentionButton | safe }}
</div>

{% set webmentionsJs %}
    {% include "../_source/js/webmentions.js" %}
{% endset %}

<script>
    {{ webmentionsJs | jsmin | safe }}
</script>
