.content-wrapper {
    max-width: var(--content-wrapper-max-width);
    padding: 0 4vw;
    margin: 0 auto;
}

.max-wrapper {
    max-width: var(--max-wrapper-max-width);
    padding: 0 4vw;
    margin: 0 auto;
}
