.contentgrid {
    min-height: 90vh;

    padding-top: var(--header-height);
    padding-bottom: var(--header-height);

    @media (min-width: 900px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2vw;
    }

    &__content {
        padding: 4rem 2rem;
        align-self: center;
        justify-self: start;
        margin-left: -4vw;
        background: var(--color-bg-offset);

        & > * {
            max-width: 60ch;
        }

        &--alignstart {
            align-self: start;
        }
    }

    &--reverse {
        @media (min-width: 900px) {
            grid-template-columns: 1fr 2fr;
        }

        .contentgrid__content {
            justify-self: end;
            margin-right: -4vw;
            margin-left: 0;
        }
    }

    &__image {
        align-self: center;
        justify-self: center;
        position: relative;
        margin: 2rem;

        img {
            display: block;
            /*max-width: 100%;
            height: auto;*/
        }
    }
}
