.content-sort-order {
    display: flex;
    flex-direction: column-reverse;

    figure {
        margin-top: 1.5rem;
    }

    @media screen and (min-width: 600px) {
        display: block;

        figure {
            float: right;
            margin-left: 3rem;
            margin-bottom: 1rem;
            margin-top: 0;
        }
    }
}
