.contentgrid {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    grid-gap: 2vw;
    padding-top: var(--header-height);

    &__content {
        padding: 4rem 2rem;
        align-self: start;
        justify-self: start;
        margin-left: -4vw;
        background: var(--color-bg-offset);

        & > * {
            max-width: 60ch;
        }
    }

    &--reverse &__content {
        justify-self: end;
        margin-right: -4vw;
    }

    &__image {
        align-self: center;
        justify-self: center;
        position: relative;
        margin: 2rem;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
}
