.footer-grid {
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;

    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__image {
        text-align: center;

        @media screen and (min-width: 600px) and (max-width: 899px) {
            grid-column: 1 / span 2;
        }
    }
}
