.footer-grid {
    padding-top: var(--flow-large);
    padding-bottom: var(--flow-large);
    display: grid;
    grid-gap: var(--flow-large);
    grid-template-columns: 1fr;
    position: relative; // to make it float above the text in the background

    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__image {
        text-align: center;

        @media screen and (min-width: 600px) and (max-width: 899px) {
            grid-column: 1 / span 2;
        }
    }
}
