.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: var(--zindex-header);
    padding: 1rem 0;

    &__wrapper {
        @media screen and (min-width: 600px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__navigation {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
