.listsites {
    display: grid;
    // 22.5rem is --content-wrapper-max-width, minus the gap of --flow-small
    grid-template-columns: repeat(auto-fill, minmax(22.5rem, 1fr));
    grid-gap: var(--flow-small);
    margin-top: var(--flow-small);
}
