.upper-part {
    min-height: 95vh;
    position: relative;
    z-index: var(--zindex-content);
    background: var(--color-bg);
    padding-bottom: var(--flow-large);

    & > *:first-child {
        padding-top: var(--header-height);
    }
}
