<section class="section flow">
    <h2 id="blogging">Blogging</h2>
    <p>I've been blogging for over 20 years now. The first posts in my german blog date back to february 2003. To challenge myself a bit more and to have an opportunity to work on my english skills I've started a second blog almost two years ago.</p>
    
    <h3>All things web development</h3>
    <p>You are currently on my personal website where I write about web development from time to time. These are my latest articles.</p>

    <ul class="section__fullwidth post-list">
        {% set articles = collections.articles | reverse %}
        {%- for article in articles.slice(0,3) -%}
            <li>
                <article class="poster{% for tag in article.data.tags %} poster--{{tag}}{% endfor %}">
                    <h4 class="poster__headline">
                        <a href="{{ article.url }}">{{ article.data.title }}</a>
                    </h4>
                </article>
            </li>
        {%- endfor -%}
    </ul>

    <h3>The trivialities</h3>
    <p> I also have a german blog at
            <a href="https://www.dertagundich.de">dertagundich.de</a> where I post more frequently about the trivialities of my life. There's content from over twenty years now, these are my most recent posts.</p>

    {% if dtuiposts.status === "ok" %}
        <ul class="section__fullwidth post-list">
            {%- for article in dtuiposts.data.slice(0,3) -%}
                <li>
                    <article class="poster">
                        {% if article.image %}
                            {% pictureElement
                                "src" = article.image,
                                "alt" = "",
                                "widths" = [200, 400],
                                "sizes" = "200px",
                                "pictureElementClasses" = "poster__picture",
                                "imageElementClasses" = ""
                            %}
                        {% endif %}

                        <h4 class="poster__headline">
                            <a href="{{ article.url }}">{{ article.title }}</a>
                        </h4>
                    </article>
                </li>
            {%- endfor -%}
        </ul>
    {% endif %}
</section>
