<section class="section container flow" id="webdevelopment">
    <h2>Web development &amp; work</h2>

    <p>Although I have explored a lot of topics besides frontend development, learning about
        <abbr title="Search Engine Optimization">SEO</abbr>, Microservices, Docker,
        <abbr title="Continous Integration">CI</abbr>
        and
        <abbr title="Continous Deployment">CD</abbr>, caching strategies or server administration was never as much fun as building websites with
        <abbr title="Hypertext Markup Language">HTML</abbr>,
        <abbr title="Cascading Style Sheets">CSS</abbr>
        and JavaScript. Today I focus on building responsible, fast and accessible websites. I believe in the concept of
        <em>progressive enhancement</em>
        as basis of my work and try to use as little technology as possible. I'm trying to improve my skills every day.</p>

    <p>Apart from the actual work as a developer, I've been working as teamlead and spend quite some time organizing and simplifying processes within the development-team. That includes as well the cooperation between project management, design-teams and developers. I'm a big fan of Scrum and certified as
        <em>Professional Scrum Product Owner I</em>.</p>
</div>