<div class="max-wrapper contentgrid contentgrid--reverse" id="family">
    <div class="contentgrid__image flow js-rellax" data-rellax-speed="-2">
        <figure>
            <picture class="image">
                <source srcset="/images/martin800.webp 800w, /images/martin400.webp 400w" sizes="400px" type="image/webp"/>
                <source srcset="/images/martin800.jpg 800w, /images/martin400.jpg 400w" sizes="400px" type="image/jpg"/>
                <img src="/images/martin400.jpg" alt="Martin looking a Max." width="400" height="400" class="image__image" loading="lazy"/>
            </picture>
            <figcaption>
                Max and me, January 2020.
            </figcaption>
        </figure>
    </div>

    <div class="contentgrid__content flow js-rellax" data-rellax-speed="1">
        <h2 class="glitch" data-glitch="Having a family">Having a family</h2>
        <p>Becoming a father was for sure the biggest live change I've ever experienced. Priorities, routines and timetables have been switched and are now often set around the life of Max. That's demanding from time to time, but there's also nothing that I enjoy more than watching that little boy growing up and learning something new every day. Seeing him explore the world completely open minded and mostly fearless makes me sometimes even a bit jealous and I try to be a bit more that way myself these days.</p>
    </div>
</div>


    