<section id="family" class="section flow">
    <h2>Having a family</h2>
    <p>Becoming a father was for sure the biggest live change I've ever experienced. Priorities, routines and timetables have been switched and are now often set around the life of Max. That's demanding from time to time, but there's also nothing that I enjoy more than watching that little boy growing up and learning something new every day. Seeing him explore the world completely open minded and mostly fearless makes me sometimes even a bit jealous and I try to be a bit more that way myself these days.</p>

    <figure class="section__side">
        {% pictureElement
            "src" = "./website/_source/images/max-and-martin.jpg",
            "alt" = "A person and a child are standing in the sea.",
            "widths" = [400, 600, 800],
            "sizes" = "20rem",
            "pictureElementClasses" = "section__side",
            "imageElementClasses" = "",
            "lazyloading" = true
        %}
    </figure>
</section>
