---
permalink: articles/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	>

    <channel>
        <title>{{ site.nameXml }}</title>
        <atom:link href="{{ site.url }}/articles/feed.xml" rel="self" type="application/rss+xml" />
        <link>{{ site.url }}</link>
        <description>Hey, my name is Martin. I'm a frontend developer from Germany.</description>
        <lastBuildDate>{{ collections.articles | getNewestCollectionItemDate | dateToRfc3339 }}</lastBuildDate>
        <language>en-US</language>
        <sy:updatePeriod>hourly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>

    <image>
        <url>{{ site.url }}/logo128.jpg</url>
        <title>{{ site.nameXml }}</title>
        <link>{{ site.url }}</link>
        <width>128</width>
        <height>128</height>
    </image> 

    {%- for article in collections.articles | reverse %}
    {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ article.data.title }}</title>
            <link>{{ absoluteUrl }}</link>
            <dc:creator><![CDATA[Martin Schneider]]></dc:creator>
            <pubDate>{{ article.date | dateToRfc3339 }}</pubDate>
            <guid isPermaLink="false">{{ absoluteUrl }}</guid>
            <description><![CDATA[{{ article.data.excerpt | safe }}]]></description>
            <content:encoded><![CDATA[{% if article.data.excerpt %}<p><b>{{ article.data.excerpt | safe }}</b></p>{% endif %} {{ article.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content:encoded>
        </item>
    {%- endfor %}
    </channel>
</rss>