---
layout: layout
title: Articles
metaSlug: /articles/
pagination:
  data: articlesFromWordPress
  size: 10
permalink: articles{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---

{{ 'website/_source/scss/articles.scss' | compileSCSS | safe }}

<h1 class="headline">Articles</h1>

<p>
  The internet is giving us the ability to share ideas, knowledge and thoughts and so I'm writing articles on development-related topics from time to time. 
  Grab <a href="/articles/feed.xml">the RSS-feed</a> and stay updated! 
</p>

<p>
  I'm happy to receive any feedback both on my writing and the content itself. 
  Feel free to send me a message on <a href="https://twitter.com/schneyra">my twitter</a>!
</p>

{% for item in pagination.items %}
  {% if loop.first %}<ul class="article-list">{% endif %}
    <li class="article-list__article" data-cy="articleListArticle">
      <article class="flow-small">
        <h2 class="article-list__title">
          <a href="/articles/{{ item.slug }}/" class="article-list__link">{{ item.title }}</a>
        </h2>
        
        <time datetime="{{ item.date }}" class="article-list__date">{{ item.formattedDate }}</time>
        
        <div class="article-list__excerpt">{{ item.excerpt | safe }}</div>
      </article>
    </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}

{% if pagination.hrefs | length > 1 %}
  <ul>
    {% if pagination.previousPageHref %}
      <li><a href="{{ pagination.previousPageHref }}">Previous page</a></li>
    {% endif %}
    {% if pagination.nextPageHref %}
      <li><a href="{{ pagination.nextPageHref }}">Next page</a></li>
    {% endif %}
  </ul>
{% endif %}
