---
layout: page
title: Articles
metaSlug: /articles/
pagination:
  data: articles
  size: 10
permalink: articles{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---

<h1 class="headline glitch" data-glitch="Articles">Articles</h1>

<p>
  The internet is giving us the ability to share ideas, knowledge and thoughts and so I'm writing articles on development-related topics from time to time. Grab
  <a href="/articles/feed.xml">the RSS-feed</a>
  and stay updated!
</p>

<p>
  I'm happy to receive any feedback both on my writing and the content itself. Feel free to send me a message on
  <a href="https://twitter.com/schneyra">my twitter</a>!
</p>

{% for item in pagination.items %}
  {% set isTilPost = 'til' in item.categorySlugs %}
  {% set isChangelogPost = 'changelog' in item.categorySlugs %}

  {% if loop.first %}
    <ol class="article-list">
    {% endif %}
    <li class="article-list__article article-list__article--{{ item.categorySlugs|join(' article-list__article---') }}" data-cy="articleListArticle">
      {% if isTilPost %}
        {% include 'svg/lightbulb.svg' %}
      {% endif %}

      {% if isChangelogPost %}
        {% include 'svg/lightbulb.svg' %}
      {% endif %}

      <article class="flow-small">
        <h2 class="article-list__title">
          {% if isTilPost %}TIL:{% endif %}
          {% if isChangelogPost %}Changelog:{% endif %}
          <a href="/articles/{{ item.slug }}/" class="article-list__link">{{ item.title | safe }}</a>
        </h2>

        <time datetime="{{ item.date }}" class="article-list__date">{{ item.formattedDate }}</time>

        {% if not isTilPost and not isChangelogPost %}
          <div class="article-list__excerpt">{{ item.excerpt | safe }}</div>
        {% endif %}
      </article>
    </li>
    {% if loop.last %}
    </ol>
  {% endif %}
{% endfor %}

{% include '_pagination.njk' %}