---
layout: page
title: Accessibility
---

<h1>Accessibility</h1>

<p>I'm doing my best to make this website as accessible as possible for everyone. 
This includes the usage of semantic markup, providing alternative descriptions
for images and other media and clearly visible focus styles. I also choose colors 
with proper contrast ratios. Animations and transitions are disabled if you 
prefer reduced motion on the web. All areas of the website should be accessible 
with keyboard, mouse or a touch device.</p>

<p>I'm aiming towards level AA as described in the 
<a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines 
(WCAG) 2.1</a>.</p>

<h2>Testing for Accessibility</h2>
<p>I'm using the browser addons <a href="https://www.deque.com/axe/">axe</a> and 
<a href="https://wave.webaim.org/">WAVE</a> in Firefox to test my websites. I 
also use VoiceOver on macOS from time to time.</p>

<h2>I'm open for feedback</h2>
<p>If you have any issues accessing the contents of this website or a hint where 
I can improve the accessibility, please 
<a href="mailto:hallo@martinschneider.me">send me a mail</a> or 
<a href="https://mastodon.social/@schneyra">contact me on mastodon</a>.</p>
