---
layout: page
title: Articles
pagination:
  alias: articlelist
  data: collections.articles
  size: 50
  reverse: true
permalink: articles{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---

<div class="wrapper flow">
  <h1>Articles</h1>

  <p>
    The internet is giving us the ability to share ideas, knowledge and thoughts and so I'm writing articles on development-related topics from time to time. Grab
    <a href="/articles/feed.xml">the RSS-feed</a>
    and stay updated!
  </p>

  <p>
    I'm happy to receive any feedback both on my writing and the content itself. Feel free to send me a message on
    <a href="https://mastodon.social/@schneyra">mastodon</a>!
  </p>

  {%- for article in articlelist -%}
    {% include '_article-list.njk' %}
  {%- endfor -%}

  {% include '_pagination.njk' %}
</div>