---
layout: page
---

<h1>Blogroll</h1>

<p>A personal websites is your very own place on the internet. Although a lot of content is shared today on social networks, there is thankfully a growing list people that have a personal website or even a blog. Here's a list of websites and blogs that I like to visit. It is randomly sorted on every build.</p>

<ul class="blogroll">
{% for blog in blogroll|shuffle %}
    <li>
        <h2 class="blogroll__headline">{{ blog.name }}</h2>

        <div class="blogroll__linkwrapper">
            {% set imageUrl = "https://avatar.martinschneider.me/" ~ blog.url | urlencode ~ "/" %}

            {% pictureElement
                "src" = imageUrl,
                "alt" = "",
                "widths" = [16, 32],
                "sizes" = "16px",
                "pictureElementClasses" = "blogroll__image"
            %}

            <a href="{{ blog.url }}">{{ blog.url|niceUrl }}</a>
        </div>
    </li>
{% endfor %}
</ul>
