---
layout: page
title: Colophon
---

<h1>Colophon</h1>

<p>This website is build with <a href="https://www.11ty.dev/">Eleventy</a> and some of its plugins. 
I especially love using the more than awesome <a href="https://www.11ty.dev/docs/plugins/image/">Eleventy Image Plugin</a> 
to optimize the pictures on this site.</p>

<p>The repository is <a href="https://github.com/schneyra/martinschneiderme-11ty">stored on Github</a> 
and deployed on <a href="https://www.netlify.com/">Netlify</a>.</p>

<h2>External Sources</h2>
<p>The site is using <a href="https://fonts.google.com/specimen/Labrada">"Labrada" from Google Fonts</a> for headlines. 
I've chosen the font stacks "System UI" and "Monospace Code" with the help of <a href="https://modernfontstacks.com/">Modern Font Stacks</a> for texts and code.
<br>I'm using <a href="https://instant.page/">instant.page</a> to speed up the navigation 
between the pages on the site.</p>

<h2>Code &amp; Development</h2>
<p><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> is the template 
engine of my choice. I'm writing pretty modern but vanilla CSS and some PostCSS does the dirty work in the background. 
I've written an article <a href="/articles/generating-css-with-postcss-and-eleventy-before/">how I generate CSS with PostCSS</a>.</p>

<p>All code for this site is written mainly in Visual Studio Code which is connected 
to a <a href="https://github.com/features/codespaces/">Github codespace</a>.
I'm again and again impressed by the performance of the codespace compared to 
a local Docker environment.</p>
