---
layout: page
title: Colophon
---

<h1 class="headline glitch" data-glitch="Colophon">Colophon</h1>

<p>This website is build with <a href="https://www.11ty.dev/">Eleventy</a>. I am using the more than awesome
<a href="https://www.11ty.dev/docs/plugins/image/">Eleventy Image Plugin</a> to optimize the pictures on this site.</p>

<p>The repository is <a href="https://github.com/schneyra/martinschneiderme-11ty">stored on Github</a> 
and deployed on <a href="https://www.netlify.com/">Netlify</a>. The 
<a href="/articles/">articles</a> are written in WordPress, the <a href="/bookmarks/">bookmarks</a> 
are managed in my account at <a href="https://pinboard.in/u:schneyra">pinboard</a>.</p>

<h2>External Sources</h2>
<p>The site is rendered with <a href="https://www.ibm.com/plex/">IBM Plex</a>, 
using Plex Sans for headlines and texts. Source code is rendered in Plex Mono.
I'm using <a href="https://instant.page/">instant.page</a> to speed up the navigation 
between the pages on the site.</p>

<h2>Code &amp; Development</h2>
<p><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> is the template 
engine of my choice. I'm writing SCSS, organized according to my interpretation 
of Harry Roberts <abbr title="Inverted Triangle CSS">ITCSS</abbr> methodology. 
All code for this site is written mainly in Visual Studio Code which is connected 
to a <a href="https://github.com/features/codespaces/">Github codespace</a>.
I'm again and again impressed by the performance of the codespace compared to 
a local Docker environment.</p>
