---
layout: layout
---
<div data-scroll-container>
    {% include "contentHome/_overview.njk" %}
    {% include "contentHome/_development.njk" %}
    {% include "contentHome/_family.njk" %}
    {% include "contentHome/_photography.njk" %}
</div>

{#}
{% include "contentHome/_reading.njk" %}
{% include "contentHome/_music.njk" %}
{% include "contentHome/_blogging.njk" %}
{% include "contentHome/_scouting.njk" %}
#}

{% include "jsonld/person.njk" %}

<link rel="stylesheet" href="locomotive-scroll.min.css">
<script src="locomotive-scroll.min.js"></script>
<script>
    /*(function () {
        const scroll = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        });
    })();*/
</script>