---
layout: layout
---

<h1 class="headline">Legal Information</h1>

<h2>Information according § 5 TMG</h2>

<address>
Martin Schneider<br>
Quantiusstraße 13<br>
53115 Bonn<br>
</address>

<h2>Contact</h2>
<p>E-Mail: <a href="mailto:martin@martinschneider.me">martin@martinschneider.me</a></p>

<h3>Responsible for the content according § 55 Abs. 2 RStV</h3>

<address>
Martin Schneider<br>
Quantiusstraße 13<br>
53115 Bonn<br>
</address>

<p>Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

<p>Some icons have been taken from FontAwesome, which are released under <a href="https://fontawesome.com/license">Creative Commons Attribution 4.0 International</a> licence.</p>