@import url("_source/css/_variables.css");
@import url("_source/css/_body.css");
@import url("_source/css/_h.css");
@import url("_source/css/_a.css");
@import url("_source/css/_p.css");
@import url("_source/css/_figure.css");

@import url("_source/css/_container.css");
@import url("_source/css/_flow.css");

@import url("_source/css/_hero.css");
@import url("_source/css/_footer.css");
@import url("_source/css/_link-list.css");
@import url("_source/css/_upper-part.css");

::selection {
    background: var(--color-headlines);
    color: var(--color-invert);
}

.section {
    padding-block: var(--space-3xl);
}

.image {
    background-color: var(--color-invert);
    padding: var(--space-xs-s);
}
