:root {
    /*
  Breiten und Abstände
  @link https://utopia.fyi/space/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7|12,s-xl&g=s,xl,xl,12
  */
    --space-3xs: clamp(0.25rem, calc(0.22rem + 0.15vw), 0.38rem);
    --space-2xs: clamp(0.5rem, calc(0.45rem + 0.23vw), 0.69rem);
    --space-xs: clamp(0.75rem, calc(0.67rem + 0.38vw), 1.06rem);
    --space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.38rem);
    --space-m: clamp(1.5rem, calc(1.36rem + 0.68vw), 2.06rem);
    --space-l: clamp(2rem, calc(1.81rem + 0.91vw), 2.75rem);
    --space-xl: clamp(3rem, calc(2.72rem + 1.36vw), 4.13rem);
    --space-2xl: clamp(4rem, calc(3.63rem + 1.82vw), 5.5rem);
    --space-3xl: clamp(6rem, calc(5.44rem + 2.73vw), 8.25rem);
    --space-4xl: clamp(7rem, calc(6.34rem + 3.18vw), 9.63rem);
    --space-5xl: clamp(12rem, calc(10.88rem + 5.45vw), 16.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.53vw), 0.69rem);
    --space-2xs-xs: clamp(0.5rem, calc(0.36rem + 0.68vw), 1.06rem);
    --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.76vw), 1.38rem);
    --space-s-m: clamp(1rem, calc(0.73rem + 1.29vw), 2.06rem);
    --space-m-l: clamp(1.5rem, calc(1.19rem + 1.52vw), 2.75rem);
    --space-l-xl: clamp(2rem, calc(1.47rem + 2.58vw), 4.13rem);
    --space-xl-2xl: clamp(3rem, calc(2.38rem + 3.03vw), 5.5rem);
    --space-2xl-3xl: clamp(4rem, calc(2.94rem + 5.15vw), 8.25rem);
    --space-3xl-4xl: clamp(6rem, calc(5.09rem + 4.39vw), 9.63rem);
    --space-4xl-5xl: clamp(7rem, calc(4.63rem + 11.52vw), 16.5rem);

    /* Custom pairs */
    --space-s-xl: clamp(1rem, calc(0.22rem + 3.79vw), 4.13rem);

    /* @link https://utopia.fyi/type/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12 */
    --step--2: clamp(0.69rem, calc(0.65rem + 0.23vw), 0.88rem);
    --step--1: clamp(0.83rem, calc(0.77rem + 0.32vw), 1.1rem);
    --step-0: clamp(1rem, calc(0.91rem + 0.45vw), 1.38rem);
    --step-1: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.72rem);
    --step-2: clamp(1.44rem, calc(1.26rem + 0.86vw), 2.15rem);
    --step-3: clamp(1.73rem, calc(1.49rem + 1.16vw), 2.69rem);
    --step-4: clamp(2.07rem, calc(1.75rem + 1.56vw), 3.36rem);
    --step-5: clamp(2.49rem, calc(2.06rem + 2.07vw), 4.2rem);

    /* Extra Schriftgröße für Eingabefelder: Mindestens 16px, aber nicht so groß wie --step-0 am Ende */
    --step-input: clamp(1rem, calc(0.91rem + 0.45vw), 1.1rem);

    --font-family-headlines: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --font-family-body: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;

    --color-headlines: hsl(215deg 17% 15%);
    --color-body: hsl(215deg 17% 0%);
}

body {
    font-family: var(--font-family-body);
    background-image: linear-gradient(140deg,
            hsl(214deg 18% 77%) 0%,
            hsl(215deg 18% 79%) 19%,
            hsl(215deg 18% 81%) 27%,
            hsl(215deg 18% 82%) 34%,
            hsl(215deg 18% 84%) 41%,
            hsl(216deg 18% 86%) 47%,
            hsl(216deg 18% 87%) 53%,
            hsl(217deg 19% 89%) 59%,
            hsl(217deg 19% 90%) 66%,
            hsl(218deg 20% 92%) 73%,
            hsl(219deg 21% 93%) 81%,
            hsl(220deg 23% 95%) 100%);
    line-height: 1.7;
    font-weight: 300;
    font-size: var(--step-0);
    color: var(--color-body);
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 100%;
    gap: var(--space-3xl-4xl);
    padding: 0 var(--space-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-headlines);
    color: var(--color-headlines);
    letter-spacing: 0.02em;
    line-height: 1.1em;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--space-l);
    padding: var(--space-xs) 0;
}

.hero__headline {
    font-size: var(--step-5);
}

.hero__image {
    background-image: linear-gradient(140deg,
            hsl(345deg 11% 93%) 0%,
            hsl(345deg 12% 93%) 11%,
            hsl(0deg 10% 94%) 22%,
            hsl(340deg 12% 95%) 33%,
            hsl(340deg 14% 96%) 44%,
            hsl(0deg 6% 97%) 56%,
            hsl(0deg 8% 97%) 67%,
            hsl(300deg 11% 98%) 78%,
            hsl(0deg 0% 99%) 89%,
            hsl(0deg 0% 100%) 100%);
    padding: var(--space-xs-s);
    aspect-ratio: 1 / 1;
}

.hero__image img {
    aspect-ratio: 1 / 1;
}

p {
    max-width: 70ch;
    margin-top: 1em;
}

a {
    color: inherit;
    font-weight: 600;
    text-decoration-color: hsl(190, 100%, 50%);
    text-decoration-thickness: 0.15em;
}

a:visited {
    text-decoration-color: hsl(45deg 100% 50%);
}

a:hover {
    text-decoration-color: hsl(25deg 100% 50%);
}