@import url("_source/css/_variables.css");
@import url("_source/css/_body.css");
@import url("_source/css/_h.css");
@import url("_source/css/_a.css");
@import url("_source/css/_p.css");
@import url("_source/css/_figure.css");

@import url("_source/css/_container.css");
@import url("_source/css/_flow.css");

@import url("_source/css/_site-header.css");
@import url("_source/css/_hero.css");
@import url("_source/css/_footer.css");
@import url("_source/css/_link-list.css");
@import url("_source/css/_upper-part.css");
@import url("_source/css/_article-list.css");
@import url("_source/css/_visually-hidden.css");

::selection {
    background: var(--color-headlines);
    color: var(--color-invert);
}

.section {
    padding-block: var(--space-3xl-4xl);
    background-image: linear-gradient(
        130deg,
        hsl(var(--gradient-color, 215deg 20%) 95%),
        hsl(var(--gradient-color, 215deg 20%) 99%)
    );
}

.image {
    background-color: var(--color-invert);
    padding: var(--space-xs-s);
}

.image-card {
    background-color: var(--color-invert);
    max-width: fit-content;
    margin-inline: auto;
    margin-top: var(--space-2xl);
}

.image-card img {
    width: 1200px;
}
