---
permalink: '/manifest.json'
---
{
	"background_color": "#ffffff",
	"theme_color": "#2b2f3c",
	"name": "{{ site.name }}",
	"short_name": "martin schneider",
	"display": "minimal-ui",
	"start_url": "/",
	"icons": [
		{
			"src": "images/logo192.png",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "images/logo512.png",
			"sizes": "512x512",
			"type": "image/png"
		}
	]
}
