pre[class*="language-"] {
    background: var(--color-background-highlight);
    padding: 0;
    overflow: auto;
    position: relative;
    z-index: var(--zindex-pre);
    border-radius: 0.2rem;
}

pre[class*="language-"]::before {
    display: block;
    color: var(--color-invert);
    text-transform: uppercase;
    background: var(--color-body);
    line-height: 1;
    padding: 0.75em 0.5em;
    border-radius: 0.2rem 0;
}

pre.language-html::before {
    content: "HTML";
}

pre.language-js::before {
    content: "JavaScript";
}

pre.language-json::before {
    content: "JSON";
}

pre.language-css::before {
    content: "CSS";
}

pre.language-scss ::before {
    content: "SCSS";
}

code[class*="language-"] {
    color: var(--color-body);
    background: var(--color-background-highlight);
    font-family: "IBM Plex Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.7;
    tab-size: 2;
    hyphens: none;
    padding: 1em;
    overflow: auto;
    width: 100%;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.2rem;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #798b9d;
}

.token.punctuation {
    color: #42abab;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant {
    color: #ebb062;
}

.token.symbol,
.token.deleted {
    color: #ca3e5a;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #81a559;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #4496cd;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #d8843e;
}

.token.function,
.token.class-name {
    color: #c36b9b;
}

.token.regex,
.token.important,
.token.variable {
    color: #9770b2;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
