---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
pagination:
  data: collections.articles
  size: 10000
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}</loc>
  </url>

  <url>
    <loc>{{ site.url }}/articles/</loc>
  </url>

  {%- for article in collections.articles -%}
    {% set absoluteUrl = site.url + article.url %}
    <url>
      <loc>{{ absoluteUrl }}</loc>
      <lastmod>{{ article.date|w3DateFilter }}</lastmod>
    </url>
  {%- endfor -%}
</urlset>