<div class="reading-indicator-wrapper">
    <progress data-js-reading-indicator class="reading-indicator" min="10" max="110" value="10" aria-label="Your progress on this article." data-cy-reading-indicator>0%</progress>
</div>
